
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")
    <body></body>
<body>
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start   v45 -->
@await Component.InvokeAsync("_SpinerPartial")
<!-- Spinner End -->
<!-- Header Start v45 -->
@await Component.InvokeAsync("_NavBarPartial")
<!-- Header End -->
<!-- Carousel Start v45        v56 duzenleme -->
@*@await Component.InvokeAsync("_SliderPartial")*@

@await Component.InvokeAsync("_BookingCoverPartial")
<!-- Carousel End -->
<!-- Booking Start v45  56 izle-->
@*@await Component.InvokeAsync("_ReservationPartial")*@

@await Html.PartialAsync("/Views/Booking/AddBooking.cshtml")@*//58*@




<!-- Booking End -->
<!-- About Start v45 -->
@*@await Component.InvokeAsync("_AboutUsPartial")*@
<!-- About End -->
<!-- Room Start -->
@*@await Component.InvokeAsync("_OurRoomsPartial")*@
<!-- Room End -->
<!-- Video Start v45 -->
@*@await Component.InvokeAsync("_TrailerPartial")*@


<!-- Video Start -->
<!-- Service Start v45 -->
@*@await Component.InvokeAsync("_ServicePartial")*@
<!-- Service End -->
<!-- Testimonial v45 Start -->
@*@await Component.InvokeAsync("_TestimonialPartial")*@
<!-- Testimonial End -->
<!-- Team Start -->
@*@await Component.InvokeAsync("_TeamPartial")*@
<!-- Team End -->
<!-- Newsletter Startv45 -->
@await Html.PartialAsync("/Views/Default/_SubscribePartial.cshtml")
<!-- Newsletter Start -->
<!-- Footer Start -->
@await Component.InvokeAsync("_FooterPartial")
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
@await Component.InvokeAsync("_ScriptPartial")
</body>

